<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><{$Think.config.TITLE}></title>
<script src="__PUBLIC__/Framework/Easyui/jquery.min.js"></script>
<script src="__PUBLIC__/Framework/Easyui/jquery.easyui.min.js"></script>
<script src="__PUBLIC__/Framework/Easyui/plugins/jquery.portal.js"></script>
<script src="__PUBLIC__/Framework/Easyui/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Framework/Easyui/themes/default/easyui.css" id="theme">
<link rel="stylesheet" href="__PUBLIC__/Framework/Easyui/themes/icon.css">
<link rel="stylesheet" href="__PUBLIC__/Css/icons.css">
<script src="__PUBLIC__/Js/jQuery.cookie.js"></script>
<script src="__PUBLIC__/Js/jQuery.oa.js"></script>
<script src="__PUBLIC__/Js/easyui.rules.js"></script>
<!--实例化百度编辑器所在位置-->
<script>window.UEDITOR_HOME_URL = "__PUBLIC__/Ueditor/";</script>
<link rel="stylesheet" href="__PUBLIC__/Css/main.css">
<!--山寨国产HTML5版本Uploadify上传-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Framework/Uploadify/Huploadify.css"/>
<script type="text/javascript" src="__PUBLIC__/Framework/Uploadify/jquery.Huploadify.js"></script>
<!--山寨国产HTML5版本Uploadify上传-->
</head>

<body class="easyui-layout">
    <!--Top-->
    <div id="north" data-options="region: 'north',split:true" style="height:90px;">
        <div class="oa-logo"><{$Think.config.TITLE}></div>
        <div class="oa-menu">
            <a href="javascript:void(0);" class="oa-menu-user" data-url="<{:U('Index/getLeftMenu',array('id'=>1))}>">个人中心</a>
            <a href="javascript:void(0);" class="oa-menu-system" data-url="<{:U('Index/getLeftMenu',array('id'=>2))}>">系统中心</a>
            <a href="javascript:void(0);" class="oa-menu-app" data-url="<{:U('Index/getLeftMenu',array('id'=>3))}>">应用中心</a>
        </div>
        <div class="oa-user">
            <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#oa-user-menu',iconCls:'icons-user-user'">快捷操作</a>
        </div>
    </div>
    <!--Left-->
    <div id="west" data-options="region: 'west',split:true,title:'个人中心'" style="width:200px;">
        <div id="left" class="easyui-accordion" data-options="fit:false,border:false"></div>
    </div>
    <!--Center-->
    <div id="center" data-options="region:'center',split:true">
        <div id="oa-tabs">
            <div title="后台首页" href="<{:U('Index/main')}>" data-options="cache:true,tools:[{iconCls:'icon-mini-refresh',handler:function(){var tab = $('#oa-tabs').tabs('getSelected');tab.panel('refresh',tab[0]['baseUrl']);}}]"></div>
        </div>
    </div>
    <!--有时会需要两个dialog框-->
    <div id="oa-dialog-1"></div>
    <div id="oa-dialog-2"></div>

    <script type="text/javascript">
        //检测是否登录
        setInterval('$.Oa.sess_verify(\"<{:U("Login/session_timeout")}>\",\"<{:U("Login/logout")}>\")',2000);
    </script>
    <script src="__PUBLIC__/Js/main.js"></script>
    <!--顶部下拉-->
    <div id="oa-user-menu">
        <div>更新缓存</div>
        <div>
            <span>切换主题</span>
            <div id="toparea-help-theme-box">
                <div onclick="$.Oa.theme('default')">Default</div>
                <div onclick="$.Oa.theme('bootstrap')">Bootstrap</div>
                <div onclick="$.Oa.theme('gray')">Gray</div>
                <div onclick="$.Oa.theme('metro')">Metro</div>
                <div onclick="$.Oa.theme('black')">Black</div>
            </div>
        </div>
        <div data-options="iconCls:'icons-user-user'" onclick="$.messager.alert('问题反馈', '发送邮件到624508914@qq.com<br />加入官方QQ群：<a href=\'http://jq.qq.com/?_wv=1027&k=a99RHS\' target=\'_blank\'>点击加入</a> <br />进行提交问题反馈 谢谢！<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前版本：<{$Think.config.OA_VERSION}>', 'info');">问题反馈</div>
        <div data-options="iconCls:'icons-user-user_go'"><a style="text-decoration: none;color:#333;" href="<{:U('Login/logout')}>">退出登录</a></div>
    </div>
</body>
</html>
