<form id="editDomain" action="<{:U('Account/editDomain')}>" method="post">
	<input type="hidden" name="editDomain" value="editDomain" />
	<input type="hidden" name="id" value="<{$Domain.id}>" />
	<table width="100%">
		<tr>
			<td>所属服务商：</td>
			<td><input class="easyui-combobox" data-options="valueField: 'id',required:true,textField: 'title',url: '<{:U('AccountCommon/listService')}>'"  name="service_id" style="width:170px" value="<{$Domain.service_id}>" /></td>
		</tr>
		<tr>
			<td>域名名称：</td>
			<td><input class="easyui-textbox" data-options="required:true,validType:['length[2,30]']"  name="name" type="text" style="width:168px" value="<{$Domain.name}>" /></td>
		</tr>
		<tr>
			<td>域名所有者：</td>
			<td><input class="easyui-textbox" name="user" type="text" data-options="required:true" style="width:168px" value="<{$Domain.user}>" /></td>
		</tr>
		<tr>
			<td>域名DNS：</td>
			<td><input class="easyui-textbox" name="dns" type="text" data-options="required:true" style="width:168px" value="<{$Domain.dns}>" /></td>
		</tr>
		<tr>
			<td>是否备案：</td>
			<td>
				<select class="easyui-combobox" data-options="required:true" name="is_record" style="width:170px;">
				    <option value="0" <if condition="$Domain.is_record eq '0'">selected</if>>未备案</option>
				    <option value="1" <if condition="$Domain.is_record eq '1'">selected</if>>已备案</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>备案类型：</td>
			<td>
				<select class="easyui-combobox" data-options="required:true" name="record_type" style="width:170px;">
				    <option value="0" <if condition="$Domain.record_type eq '0'">selected</if>>未备案</option>
				    <option value="1" <if condition="$Domain.record_type eq '1'">selected</if>>个人备案</option>
				    <option value="2" <if condition="$Domain.record_type eq '2'">selected</if>>企业备案</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>到期时间：</td>
			<td><input class="easyui-datebox" name="end_date" type="text" style="width:168px" value="<{$Domain.end_date}>" /></td>
		</tr>
		<tr>
			<td>备注信息：</td>
			<td><input class="easyui-textbox" data-options="multiline:true"  name="remake" type="text" style="width:170px;height:70px;" value="<{$Domain.remake}>" /></td>
		</tr>
		<tr>
			<td></td>
			<td align="right">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="$.Oa.confirm('$.Oa.doForm(\'#editDomain\')')">编辑域名</a>
				<a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$($.Oa.dialog_1).dialog('close')">关闭窗口</a>
			</td>
		</tr>
	</table>
</form>