<table id="Account_Ftp"></table>
<div id="Account_Ftp_Search">
	<table cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td>
					<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" onclick="Account_Ftp.add()">
						<span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">添加</span><span class="l-btn-icon icons-table-table_add">&nbsp;</span></span>
					</a>
					<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" onclick="$.Oa.refresh()">
						<span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">刷新</span><span class="l-btn-icon icons-table-table_refresh">&nbsp;</span></span>
					</a>
					<br />
					<form id="Account_Ftp_Search_Form" style="float:right">
						<span style="padding-left:10px;">服务器：</span><input name="search[host_id]" class="easyui-combobox" style="width:120px" data-options="valueField: 'id',textField: 'title',url: '<{:U('AccountCommon/listHost')}>/type/all'">
						<a href="javascript:;" onclick="Account_Ftp.search()" class="easyui-linkbutton" iconCls
="icons-table-table">搜索</a>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
window.Account_Ftp = {
	//工具栏
	toolbar: "#Account_Ftp_Search",
	//搜索
	search: function(){
		$("#Account_Ftp").datagrid('loadData', { total: 0, rows: [] });
		var queryParams = $("#Account_Ftp").datagrid('options').queryParams;
		$.each($("#Account_Ftp_Search_Form").serializeArray(), function() {
			queryParams[$(this).attr('name')] = $(this).attr('value');
		});
		$("#Account_Ftp").datagrid({pageNumber: 1});
	},
	//添加FTP
	add: function(){
		$($.Oa.dialog_1).dialog({
			title: '添加FTP',
			width: '275',
			height: '250',
			iconCls: 'icon-add',
			href: '<{:U("Account/addFtp/")}>',
			modal: true
		});
	},

	//编辑FTP
	edit: function(id){
		if(id == null){
			var row = $('#Account_Ftp').datagrid("getSelected");
			if(row == null){
				$.Oa.tip('提示信息', '请选择要处理的数据','error');
				return false;
			}
			id = row.id;
		}
		$($.Oa.dialog_1).dialog({
			title: '编辑FTP',
			width: '275',
			height: '250',
			iconCls: 'icon-edit',
			href: '<{:U("Account/editFtp/")}>/id/'+id,
			modal: true
		});
	},

	//删除FTP
	delete: function(id){
		if(id == null){
			var row = $('#Account_Ftp').datagrid("getSelected");
			if(row == null){
				$.Oa.tip('提示信息', '请选择要处理的数据','error');
				return false;
			}
			id = row.id;
		}
		$.Oa.confirm('$.Oa.delData("'+id+'","<{:U("Account/delFtp")}>")')
	}
}
</script>
<script>
/**
 * FTP容器实例化数据
 */
$("#Account_Ftp").datagrid({
	title: "应用中心 > 账号关系系统 > FTP管理",
	singleSelect:true,
	nowrap:true,
	border: false,
	fitColumns: true,
	fit: true,
	toolbar: Account_Ftp.toolbar,
	idField: 'id',
	rownumbers: true,
	animate: true,
	url: "<{:U('Account/Ftp')}>",
	columns:[[
		{field:'id',title:'ID',align:'center',width:20},
		{field:'ftp_user',title:'FTP账号',width:50},
		{field:'ftp_pass',title:'FTP密码',width:50},
		{field:'web_count',title:'绑定网站数',width:20,align:'center'},
		{field:'ftp_dir',title:'主目录',width:50},
		{field:'ip',title:'所属服务器',width:50},
		{field:'remake',title:'FTP备注',width:100}
	]],
	pagination:true,
	pagePosition:'bottom',
	pageNumber:1,
	pageSize:20,
	pageList:[20,30,50],
	onDblClickRow: function(rowIndex,rowData){
		Account_Ftp.edit(rowData.id);
	},
	onRowContextMenu: function(e, rowIndex,rowData){
		e.preventDefault(); //阻止浏览器捕获右键事件
        $(this).datagrid("unselectAll"); //取消所有选中项
        $(this).datagrid("selectRow",rowIndex); //根据索引选中该行
        $('#Account_Ftp_Menu').menu('show', {//显示右键部门
            left: e.pageX,//在鼠标点击处显示部门
            top: e.pageY
        });
	}
});
</script>
<div id="Account_Ftp_Menu" class="easyui-menu" style="display:none;">
	<div data-options="iconCls:'icon-edit'" onclick="Account_Ftp.edit()">修改</div>
	<div data-options="iconCls:'icon-cancel'" onclick="Account_Ftp.delete()">删除</div>
</div>